<!DOCTYPE html>
<html>
    <head>
        <title>Hello Rajeev</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#collapsibleNavbar">

                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul>

                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>